<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home – Hunt Media</title>
    <link rel="stylesheet" href="https://threads.plaid.com/threads.css">

    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <main class="main">
        <h1>Testing routing</h1>
    </main>

</body>

</html>